<div>
	<div ng-hide="DYNAMIC['ENABLE_PARSER_MODULES']"><button type="button" class="btn btn-outline-warning"
			ng-click="DYNAMIC['ENABLE_PARSER_MODULES']=true;">Enable required extension options</button></div>
	<label for="G5_MAX_SEGMENT_LENGTH" class="form-label">G5 segment maximum length: <span
			ng-bind="G5_MAX_SEGMENT_LENGTH"></span> mm</label>
	<input type="range" class="form-range" min="0" max="10" step="0.1" id="G5_MAX_SEGMENT_LENGTH"
		ng-model="G5_MAX_SEGMENT_LENGTH" config-file="hal" var-type="float" ng-init="G5_MAX_SEGMENT_LENGTH=1">
</div>