<div>
	<div ng-hide="DYNAMIC['ENABLE_MAIN_LOOP_MODULES']"><button type="button" class="btn btn-outline-warning"
		ng-click="DYNAMIC['ENABLE_MAIN_LOOP_MODULES']=true;">Enable required extension options</button></div>
	<label for="LCD_ROWS" class="form-label">LCD nº of rows: <span ng-bind="LCD_ROWS"></span> lines</label>
	<input type="range" class="form-range" min="0" max="4" step="1" id="LCD_ROWS" ng-model="LCD_ROWS" config-file="hal"
		var-type="int" ng-init="LCD_ROWS=2">
	<label for="LCD_COLUMNS" class="form-label">LCD nº of columns: <span ng-bind="LCD_COLUMNS"></span> lines</label>
	<input type="range" class="form-range" min="0" max="32" step="1" id="LCD_COLUMNS" ng-model="LCD_COLUMNS"
		config-file="hal" var-type="int" ng-init="LCD_COLUMNS=16">
	<label for="LCD_I2C_SCL" class="form-label">Define LCD_I2C_SCL</label>
	<select class="form-select form-select-md" name="LCD_I2C_SCL" id="LCD_I2C_SCL" ng-model="LCD_I2C_SCL"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | orTypeFilter: ['unsafe_generic_input','generic_output']"
		config-file="hal" ng-init="LCD_I2C_SCL='DIN30'">
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(LCD_I2C_SCL)">
		{{LCD_I2C_SCL}} pin is not defined for
		your board!
	</div>
	<label for="LCD_I2C_SDA" class="form-label">Define LCD_I2C_SDA</label>
	<select class="form-select form-select-md" name="LCD_I2C_SDA" id="LCD_I2C_SDA" ng-model="LCD_I2C_SDA"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | orTypeFilter: ['unsafe_generic_input','generic_output']"
		config-file="hal" ng-init="LCD_I2C_SDA='DIN31'">
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(LCD_I2C_SDA)">
		{{LCD_I2C_SDA}} pin is not defined for
		your board!
	</div>
</div>