<div>
	<div ng-hide="DYNAMIC['ENABLE_PARSER_MODULES']"><button type="button" class="btn btn-outline-warning"
		ng-click="DYNAMIC['ENABLE_PARSER_MODULES']=true;">Enable required extension options</button></div>
	<label for="PSU_PIN" class="form-label">Define PSU_PIN</label>
	<select class="form-select form-select-md" name="PSU_PIN" id="PSU_PIN" ng-model="PSU_PIN"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}"
		config-file="hal" ng-init="PSU_PIN='DOUT31'">
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(PSU_PIN)">
		{{PSU_PIN}} pin is not defined for
		your board!
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="PSU_ON" ng-model="PSU_ON" config-file="hal" var-type="bool">
		<label class="form-check-label" for="PSU_ON" ng-init="PSU_ON=true">PSU on pin logic value</label>
	</div>
</div>