<div>
	<div class="info alert alert-info left-align" role="alert">
		<h2 style="color: var(--bs-alert-color)">Dependencies</h2>
		<p ng-if="VERSION<11001">This module requires you to to configure platformio.ini file and the board ini file also.
			Check the readme file of this module.</p>
		<p ng-if="VERSION>11000">This module requires external libraries. Download and use the webconfig.ini for PlatformIO.
		</p>
	</div>
	<div ng-hide="DYNAMIC['ENABLE_MAIN_LOOP_MODULES']"><button type="button" class="btn btn-outline-warning"
		ng-click="DYNAMIC['ENABLE_MAIN_LOOP_MODULES']=true;">Enable required extension options</button></div>
	<label for="TFT_DISPLAY_SPI_INTERFACE" class="form-label">Define TFT_DISPLAY_SPI_INTERFACE</label>
	<select class="form-select form-select-md" name="TFT_DISPLAY_SPI_INTERFACE" id="TFT_DISPLAY_SPI_INTERFACE"
		ng-model="TFT_DISPLAY_SPI_INTERFACE" config-file="hal" ng-init="TFT_DISPLAY_SPI_INTERFACE='TFT_DISPLAY_HW_SPI'">
		<option value="HW_SPI">HW_SPI</option>
		<option value="HW_SPI2">HW_SPI2</option>
		<option value="SW_SPI">SW_SPI(very slow)</option>
	</select>

	<!-- todo -->
	<div ng-if="TFT_DISPLAY_SPI_INTERFACE=='SW_SPI'">
		<label for="SD_SPI_CLK" class="form-label">Define SD_SPI_CLK</label>
		<select class="form-select form-select-md" name="SD_SPI_CLK" id="SD_SPI_CLK" ng-model="SD_SPI_CLK"
			ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}"
			config-file="hal" ng-init="SD_SPI_CLK='DOUT30'">
		</select>
		<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(SD_SPI_CLK)">
			{{SD_SPI_CLK}} pin is not defined for
			your board!
		</div>
		<label for="SD_SPI_SDO" class="form-label">Define SD_SPI_SDO</label>
		<select class="form-select form-select-md" name="SD_SPI_SDO" id="SD_SPI_SDO" ng-model="SD_SPI_SDO"
			ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}"
			config-file="hal" ng-init="SD_SPI_SDO='DOUT29'">
		</select>
		<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(SD_SPI_SDO)">
			{{SD_SPI_SDO}} pin is not defined for
			your board!
		</div>
		<label for="SD_SPI_SDI" class="form-label">Define SD_SPI_SDI</label>
		<select class="form-select form-select-md" name="SD_SPI_SDI" id="SD_SPI_SDI" ng-model="SD_SPI_SDI"
			ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_input'}"
			config-file="hal" ng-init="SD_SPI_SDI='DIN29'">
		</select>
		<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(SD_SPI_SDI)">
			{{SD_SPI_SDI}} pin is not defined for
			your board!
		</div>
	</div>

	<label for="TFT_DISPLAY_SPI_CS" class="form-label">Define TFT_DISPLAY_SPI_CS</label>
	<select class="form-select form-select-md" name="TFT_DISPLAY_SPI_CS" id="TFT_DISPLAY_SPI_CS"
		ng-model="TFT_DISPLAY_SPI_CS"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}" config-file="hal"
		ng-init="TFT_DISPLAY_SPI_CS='DOUT32'">
		<option value=""></option>
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(TFT_DISPLAY_SPI_CS)">
		{{TFT_DISPLAY_SPI_CS}} pin is not defined for
		your board!
	</div>
	<label for="TFT_DISPLAY_SPI_DC" class="form-label">Define TFT_DISPLAY_SPI_DC</label>
	<select class="form-select form-select-md" name="TFT_DISPLAY_SPI_DC" id="TFT_DISPLAY_SPI_DC"
		ng-model="TFT_DISPLAY_SPI_DC"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}" config-file="hal"
		ng-init="TFT_DISPLAY_SPI_DC='DOUT33'">
		<option value=""></option>
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(TFT_DISPLAY_SPI_DC)">
		{{TFT_DISPLAY_SPI_DC}} pin is not defined for
		your board!
	</div>
	<label for="TFT_DISPLAY_BKL" class="form-label">Define TFT_DISPLAY_BKL</label>
	<select class="form-select form-select-md" name="TFT_DISPLAY_BKL" id="TFT_DISPLAY_BKL" ng-model="TFT_DISPLAY_BKL"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}" config-file="hal"
		ng-init="TFT_DISPLAY_BKL='DOUT34'">
		<option value=""></option>
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(TFT_DISPLAY_BKL)">
		{{TFT_DISPLAY_BKL}} pin is not defined for
		your board!
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="TFT_DISPLAY_BKL_INVERT" ng-model="TFT_DISPLAY_BKL_INVERT"
			config-file="hal" model-scope-name="TFT_DISPLAY_BKL_INVERT">
		<label class="form-check-label" for="TFT_DISPLAY_BKL_INVERT" ng-init="TFT_DISPLAY_BKL_INVERT=false">Invert backlight pin</label>
	</div>
	<label for="TFT_DISPLAY_RST" class="form-label">Define TFT_DISPLAY_RST</label>
	<select class="form-select form-select-md" name="TFT_DISPLAY_RST" id="TFT_DISPLAY_RST" ng-model="TFT_DISPLAY_RST"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}" config-file="hal"
		ng-init="TFT_DISPLAY_RST='DOUT35'">
		<option value=""></option>
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(TFT_DISPLAY_RST)">
		{{TFT_DISPLAY_RST}} pin is not defined for
		your board!
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="TFT_DISPLAY_RST_INVERT" ng-model="TFT_DISPLAY_RST_INVERT"
			config-file="hal" model-scope-name="TFT_DISPLAY_RST_INVERT">
		<label class="form-check-label" for="TFT_DISPLAY_RST_INVERT" ng-init="TFT_DISPLAY_RST_INVERT=false">Invert reset pin</label>
	</div>
	<label for="TFT_DISPLAY_TOUCH_CS" class="form-label">Define TFT_DISPLAY_TOUCH_CS</label>
	<select class="form-select form-select-md" name="TFT_DISPLAY_TOUCH_CS" id="TFT_DISPLAY_TOUCH_CS"
		ng-model="TFT_DISPLAY_TOUCH_CS"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}" config-file="hal"
		ng-init="TFT_DISPLAY_TOUCH_CS='DOUT36'">
		<option value=""></option>
	</select>
	<div class="alert alert-warning" role="alert" ng-show="!$parent.$parent.DEFINED_PINS.includes(TFT_DISPLAY_TOUCH_CS)">
		{{TFT_DISPLAY_TOUCH_CS}} pin is not defined for
		your board!
	</div>
	<label for="TFT_DISPLAY_TOUCH_IRQ_PRESS" class="form-label">Define TFT_DISPLAY_TOUCH_IRQ_PRESS</label>
	<select class="form-select form-select-md" name="TFT_DISPLAY_TOUCH_IRQ_PRESS" id="TFT_DISPLAY_TOUCH_IRQ_PRESS"
		ng-model="TFT_DISPLAY_TOUCH_IRQ_PRESS"
		ng-options="y.pin as y.pin for y in $parent.$parent.UCNCPINS | filter: {'type': 'generic_input'}" config-file="hal"
		ng-init="TFT_DISPLAY_TOUCH_IRQ_PRESS='DIN36'">
		<option value=""></option>
	</select>
	<div class="alert alert-warning" role="alert"
		ng-show="!$parent.$parent.DEFINED_PINS.includes(TFT_DISPLAY_TOUCH_IRQ_PRESS)">
		{{TFT_DISPLAY_TOUCH_IRQ_PRESS}} pin is not defined for
		your board!
	</div>

</div>