<div>
	<div
	ng-hide="DYNAMIC['ENABLE_PARSER_MODULES'] && DYNAMIC['ENABLE_MAIN_LOOP_MODULES']">
	<button type="button" class="btn btn-outline-warning"
		ng-click="DYNAMIC['ENABLE_PARSER_MODULES']=true;DYNAMIC['ENABLE_MAIN_LOOP_MODULES']=true;">Enable
		required extension options</button></div>
	<div ng-repeat="x in STEPPERS">
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="STEPPER{{x}}_HAS_TMC"
				ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_HAS_TMC']"
				model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_HAS_TMC" config-file="hal">
			<label class="form-check-label" for="STEPPER{{x}}_HAS_TMC">Stepper{{x}} has TMC
				driver</label>
			<div ng-show="DYNAMIC['STEPPERS'][x]['STEPPER_HAS_TMC']">
				<div class="mb-3">
					<label for="" class="form-label">Stepper{{x}} TMC type</label>
					<select class="form-select form-select-md" name="STEPPER{{x}}_DRIVER_TYPE"
						id="STEPPER{{x}}_DRIVER_TYPE"
						ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_DRIVER_TYPE']"
						model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_DRIVER_TYPE"
						ng-options="y as y for y in TMCS" var-type="int" config-file="hal">
					</select>
				</div>
				<div class="mb-3">
					<label for="STEPPER{{x}}_TMC_INTERFACE" class="form-label">Stepper{{x}} TMC
						interface</label>
					<select class="form-select form-select-md" name="STEPPER{{x}}_TMC_INTERFACE"
						id="STEPPER{{x}}_TMC_INTERFACE"
						ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_TMC_INTERFACE']"
						model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_TMC_INTERFACE"
						ng-options="y.id as y.name for y in TMCS_COM" config-file="hal">
					</select>
				</div>
				<div ng-if="DYNAMIC['STEPPERS'][x]['STEPPER_TMC_INTERFACE']=='TMC_UART'">
					<div class="mb-3">
						<label for="STEPPER{{x}}_UART_TX" class="form-label">Stepper{{x}} TMC UART TX
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_UART_TX"
							id="STEPPER{{x}}_UART_TX"
							ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_TX']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_TX"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_UART_TX'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_UART_TX']}} pin is not defined for your
							board!
						</div>
						<label for="STEPPER{{x}}_UART_RX" class="form-label">Stepper{{x}} TMC UART RX
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_UART_RX"
							id="STEPPER{{x}}_UART_RX"
							ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_RX']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_RX"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_input'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_UART_RX'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_UART_RX']}} pin is not defined for your
							board!
						</div>
						<label for="STEPPER{{x}}_UART_CS" class="form-label">Stepper{{x}} TMC UART CS
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_UART_CS"
							id="STEPPER{{x}}_UART_CS"
							ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_CS"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS']}} pin is not defined for your
							board!
						</div>
						<div ng-if="VERSION>10703">
							<label for="STEPPER{{x}}_UART_ADDRESS" class="form-label">Stepper{{x}} UART
								address: <span
									ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']"></span></label>
							<input type="range" class="form-range" min="0" max="3"
								name="STEPPER{{x}}_UART_ADDRESS" id="STEPPER{{x}}_UART_ADDRESS"
								ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']"
								model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_ADDRESS"
								config-file="hal" var-type="int"
								ng-init="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']=0">
						</div>
					</div>
				</div>
				<div ng-if="DYNAMIC['STEPPERS'][x]['STEPPER_TMC_INTERFACE']=='TMC_SPI'">
					<div class="mb-3">
						<label for="STEPPER{{x}}_SPI_CS" class="form-label">Stepper{{x}} TMC SPI CS
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_SPI_CS"
							id="STEPPER{{x}}_SPI_CS" ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CS']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_SPI_CS"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CS'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CS']}} pin is not defined for your
							board!
						</div>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="STEPPER{{x}}_SPI_CUSTOM"
								ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CUSTOM']"
								model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_SPI_CUSTOM"
								config-file="none">
							<label class="form-check-label" for="STEPPER{{x}}_SPI_CUSTOM">Enable Soft
								SPI pins (if disabled uses predefined software SPI port)</label>
						</div>
						<div class="mb-3" ng-if="DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CUSTOM']">
							<label for="STEPPER{{x}}_SPI_CLK" class="form-label">Stepper{{x}} TMC SPI
								CLK
								pin</label>
							<select class="form-select form-select-md" name="STEPPER{{x}}_SPI_CLK"
								id="STEPPER{{x}}_SPI_CLK"
								ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CLK']"
								model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_SPI_CLK"
								ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
								config-file="hal">
								<option value="SOFT_SPI_CLK">SOFT_SPI_CLK</option>
							</select>
							<div class="alert alert-warning" role="alert"
								ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CLK'])">
								{{DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CLK']}} pin is not defined for
								your board!
							</div>
							<label for="STEPPER{{x}}_SPI_SDO" class="form-label">Stepper{{x}} TMC SPI
								SDO
								pin</label>
							<select class="form-select form-select-md" name="STEPPER{{x}}_SPI_SDO"
								id="STEPPER{{x}}_SPI_SDO"
								ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_SPI_SDO']"
								model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_SPI_SDO"
								ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
								config-file="hal">
								<option value="SOFT_SPI_SDO">SOFT_SPI_SDO</option>
							</select>
							<div class="alert alert-warning" role="alert"
								ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_SPI_SDO'])">
								{{DYNAMIC['STEPPERS'][x]['STEPPER_SPI_SDO']}} pin is not defined for
								your board!
							</div>
							<label for="STEPPER{{x}}_SPI_SDI" class="form-label">Stepper{{x}} TMC SPI
								SDI
								pin</label>
							<select class="form-select form-select-md" name="STEPPER{{x}}_SPI_SDI"
								id="STEPPER{{x}}_SPI_SDI"
								ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_SPI_SDI']"
								model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_SPI_SDI"
								ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_input'}"
								config-file="hal">
								<option value="SOFT_SPI_SDI">SOFT_SPI_SDI</option>
							</select>
							<div class="alert alert-warning" role="alert"
								ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_SPI_SDI'])">
								{{DYNAMIC['STEPPERS'][x]['STEPPER_SPI_SDI']}} pin is not defined for
								your board!
							</div>
						</div>
					</div>
				</div>
				<div ng-if="DYNAMIC['STEPPERS'][x]['STEPPER_TMC_INTERFACE']=='TMC_ONEWIRE'">
					<div class="mb-3">
						<label for="STEPPER{{x}}_UART_RX" class="form-label">Stepper{{x}} TMC UART RX
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_UART_RX"
							id="STEPPER{{x}}_UART_RX"
							ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_RX']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_RX"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_input'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_UART_RX'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_UART_RX']}} pin is not defined for your
							board!
						</div>
						<label for="STEPPER{{x}}_UART_CS" class="form-label">Stepper{{x}} TMC UART CS
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_UART_CS"
							id="STEPPER{{x}}_UART_CS"
							ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_CS"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS']}} pin is not defined for your
							board!
						</div>
						<div ng-if="VERSION>10703">
							<label for="STEPPER{{x}}_UART_ADDRESS" class="form-label">Stepper{{x}} UART
								address: <span
									ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']"></span></label>
							<input type="range" class="form-range" min="0" max="3"
								name="STEPPER{{x}}_UART_ADDRESS" id="STEPPER{{x}}_UART_ADDRESS"
								ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']"
								model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_ADDRESS"
								config-file="hal" var-type="int"
								ng-init="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']=0">
						</div>
					</div>
				</div>
				<div ng-if="DYNAMIC['STEPPERS'][x]['STEPPER_TMC_INTERFACE']=='TMC_UART2_HW'">
					<div class="mb-3">
						<label for="STEPPER{{x}}_UART_CS" class="form-label">Stepper{{x}} TMC UART CS
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_UART_CS"
							id="STEPPER{{x}}_UART_CS"
							ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_CS"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_UART_CS']}} pin is not defined for your
							board!
						</div>
						<div ng-if="VERSION>10703">
							<label for="STEPPER{{x}}_UART_ADDRESS" class="form-label">Stepper{{x}} UART
								address: <span
									ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']"></span></label>
							<input type="range" class="form-range" min="0" max="3"
								name="STEPPER{{x}}_UART_ADDRESS" id="STEPPER{{x}}_UART_ADDRESS"
								ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']"
								model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_UART_ADDRESS"
								config-file="hal" var-type="int"
								ng-init="DYNAMIC['STEPPERS'][x]['STEPPER_UART_ADDRESS']=0">
						</div>
					</div>
				</div>
				<div ng-if="DYNAMIC['STEPPERS'][x]['STEPPER_TMC_INTERFACE']=='TMC_SPI_HW'">
					<div class="mb-3">
						<label for="STEPPER{{x}}_SPI_CS" class="form-label">Stepper{{x}} TMC SPI CS
							pin</label>
						<select class="form-select form-select-md" name="STEPPER{{x}}_SPI_CS"
							id="STEPPER{{x}}_SPI_CS" ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CS']"
							model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_SPI_CS"
							ng-options="y.pin as y.pin for y in UCNCPINS | filter: {'type': 'generic_output'}"
							config-file="hal">
						</select>
						<div class="alert alert-warning" role="alert"
							ng-show="!DEFINED_PINS.includes(DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CS'])">
							{{DYNAMIC['STEPPERS'][x]['STEPPER_SPI_CS']}} pin is not defined for your
							board!
						</div>
					</div>
				</div>
				<label for="STEPPER{{x}}_CURRENT_MA" class="form-label">Stepper{{x}} max current: <span
						ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_CURRENT_MA']"></span> mA</label>
				<input type="range" class="form-range" min="0" max="1500" name="STEPPER{{x}}_CURRENT_MA"
					id="STEPPER{{x}}_CURRENT_MA" ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_CURRENT_MA']"
					model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_CURRENT_MA" config-file="hal"
					var-type="int">
				<label for="STEPPER{{x}}_UART_RX" class="form-label">Stepper{{x}} microstepping</label>
				<select class="form-select form-select-md" name="STEPPER{{x}}_MICROSTEP"
					id="STEPPER{{x}}_MICROSTEP" ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_MICROSTEP']"
					model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_MICROSTEP"
					ng-options="y as y for y in MICROSTEPS" var-type="int" config-file="hal">
				</select>
				<label for="STEPPER{{x}}_RSENSE" class="form-label">Stepper{{x}} RSense: <span
						ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_RSENSE']"></span> ohms</label>
				<input type="range" class="form-range" step="0.01" min="0" max="2"
					name="STEPPER{{x}}_RSENSE" id="STEPPER{{x}}_RSENSE"
					ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_RSENSE']"
					model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_RSENSE" var-type="float"
					config-file="hal"  ng-init="DYNAMIC['STEPPERS'][x]['STEPPER_RSENSE']=0.11">
				<label for="STEPPER{{x}}_HOLD_MULT" class="form-label">Stepper{{x}} Hold multiplier:
					<span ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_HOLD_MULT']"></span></label>
				<input type="range" class="form-range" step="0.01" min="0" max="1"
					name="STEPPER{{x}}_HOLD_MULT" id="STEPPER{{x}}_HOLD_MULT"
					ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_HOLD_MULT']"
					model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_HOLD_MULT" var-type="float"
					config-file="hal" ng-init="DYNAMIC['STEPPERS'][x]['STEPPER_HOLD_MULT']=0.7">
				<label for="STEPPER{{x}}_STEALTHCHOP_THERSHOLD" class="form-label">Stepper{{x}}
					stealthchop threshold: <span
						ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_STEALTHCHOP_THERSHOLD']"></span>
					Hz</label>
				<input type="range" class="form-range" min="0" max="1048575"
					name="STEPPER{{x}}_STEALTHCHOP_THERSHOLD" id="STEPPER{{x}}_STEALTHCHOP_THERSHOLD"
					ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_STEALTHCHOP_THERSHOLD']"
					model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_STEALTHCHOP_THERSHOLD"
					var-type="int" config-file="hal" ng-init="DYNAMIC['STEPPERS'][x]['STEPPER_STEALTHCHOP_THERSHOLD']=1000">
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox"
						id="STEPPER{{x}}_ENABLE_INTERPLATION"
						ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_ENABLE_INTERPLATION']"
						model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_ENABLE_INTERPLATION"
						var-type="bool" config-file="hal">
					<label class="form-check-label" for="STEPPER{{x}}_ENABLE_INTERPLATION">Stepper{{x}}
						microstepping
						interpolation</label>
				</div>
				<div ng-show="DYNAMIC['STEPPERS'][x]['STEPPER_DRIVER_TYPE'][x]=='2209'">
					<label for="STEPPER{{x}}_STALL_SENSITIVITY" class="form-label">Stepper{{x}}
						stall sensitivity:
						<span
							ng-bind="DYNAMIC['STEPPERS'][x]['STEPPER_STALL_SENSITIVITY']"></span></label>
					<input type="range" class="form-range" min="0" max="255"
						name="STEPPER{{x}}_STALL_SENSITIVITY" id="STEPPER{{x}}_STALL_SENSITIVITY"
						ng-model="DYNAMIC['STEPPERS'][x]['STEPPER_STALL_SENSITIVITY']"
						model-scope-name="DYNAMIC.STEPPERS.{{x}}.STEPPER_STALL_SENSITIVITY"
						var-type="int" config-file="hal">
				</div>
			</div>
		</div>
	</div>
</div>