<div class="mb-3">
	<p>Hi there,</p>
	<p>Welcome to µCNC basic configuration generator.</p>
</div>

<fieldset>
	<legend>Basic settings</legend>

	<div class="mb-3">
		<label for="" class="form-label">What MCU family will you be using?</label>
		<select class="form-select form-select-md" name="MCU" id="MCU" ng-model="MCU">
			<option value="{{x.id}}" ng-repeat="x in MCUS">{{x.name}}</option>
		</select>
	</div>

	<div class="mb-3">
		<label for="" class="form-label">What type of kinematic does your machine have?</label>
		<select class="form-select form-select-md" name="KINEMATIC" id="KINEMATIC" ng-model="KINEMATIC">
			<option value="{{x.id}}" ng-repeat="x in KINEMATICS">{{x.name}}</option>
		</select>
	</div>

	<div class="mb-3">
		<label for="" class="form-label">How many axis does your machine have?</label>
		<select class="form-select form-select-md" name="AXIS_COUNT" id="AXIS_COUNT" ng-model="AXIS_COUNT">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
		</select>
	</div>

	<div class="mb-3">
		<label for="" class="form-label">How many tools do you have on your machine</label>
		<select class="form-select form-select-md" name="TOOL_COUNT" id="TOOL_COUNT" ng-model="TOOL_COUNT"
			ng-options="item as x for x in TOOLS track by x">
		</select>
	</div>
</fieldset>

<fieldset>
	<legend>Advanced settings</legend>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_SKEW_COMPENSATION"
			ng-model="ENABLE_SKEW_COMPENSATION">
		<label class="form-check-label" for="ENABLE_SKEW_COMPENSATION">Enable X-Y-Z axis skew
			compensation</label>
	</div>
	<div ng-show="ENABLE_SKEW_COMPENSATION">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" id="SKEW_COMPENSATION_XY_ONLY"
				value="SKEW_COMPENSATION_XY_ONLY" ng-model="SKEW_COMPENSATION_XY_ONLY">
			<label class="form-check-label" for="SKEW_COMPENSATION_XY_ONLY">Enable skew compensation for
				X-Y axis only</label>
		</div>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_LINACT_PLANNER" ng-model="ENABLE_LINACT_PLANNER">
		<label class="form-check-label" for="ENABLE_LINACT_PLANNER">Enable linear actuator planner (for
			machines with heavy mobile parts)</label>
	</div>
	<div ng-show="ENABLE_LINACT_PLANNER">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" id="ENABLE_LINACT_COLD_START"
				value="ENABLE_LINACT_COLD_START" ng-model="ENABLE_LINACT_COLD_START">
			<label class="form-check-label" for="ENABLE_LINACT_COLD_START">Linear actuator cold start
				(stop on every direction change)</label>
		</div>
	</div>

	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_BACKLASH_COMPENSATION"
			ng-model="ENABLE_BACKLASH_COMPENSATION">
		<label class="form-check-label" for="ENABLE_BACKLASH_COMPENSATION">Enable backlash
			compensation</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_S_CURVE_ACCELERATION"
			ng-model="ENABLE_S_CURVE_ACCELERATION">
		<label class="form-check-label" for="ENABLE_S_CURVE_ACCELERATION">Enable S-Curve
			acceleration</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="BRESENHAM_16BIT" ng-model="BRESENHAM_16BIT">
		<label class="form-check-label" for="BRESENHAM_16BIT">Use 16-bit Bresenham step generation (for
			machines that run very short segments like deltas or laser engravers)</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_EXTRA_SYSTEM_CMDS"
			ng-model="ENABLE_EXTRA_SYSTEM_CMDS">
		<label class="form-check-label" for="ENABLE_EXTRA_SYSTEM_CMDS">Enable extra settings store
			commands ($SS, $SL, $SR) and pin state print commands ($P)</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="RAM_ONLY_SETTINGS" ng-model="RAM_ONLY_SETTINGS">
		<label class="form-check-label" for="RAM_ONLY_SETTINGS">Disable EEPROM storing</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="STATUS_AUTOMATIC_REPORT_INTERVAL_ENABLE"
			ng-model="STATUS_AUTOMATIC_REPORT_INTERVAL_ENABLE">
		<label class="form-check-label" for="STATUS_AUTOMATIC_REPORT_INTERVAL_ENABLE">Enable automatic
			status report</label>
		<div ng-if="STATUS_AUTOMATIC_REPORT_INTERVAL_ENABLE">
			<label for="STATUS_AUTOMATIC_REPORT_INTERVAL" class="form-label">Frequency: <span
					ng-bind="STATUS_AUTOMATIC_REPORT_INTERVAL"></span> ms</label>
			<input type="range" class="form-range" min="100" max="1000" id="STATUS_AUTOMATIC_REPORT_INTERVAL"
				ng-model="STATUS_AUTOMATIC_REPORT_INTERVAL">
		</div>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_G39_H_MAPPING" ng-model="ENABLE_G39_H_MAPPING">
		<label class="form-check-label" for="ENABLE_G39_H_MAPPING">Enable height map generation</label>
		<div ng-if="ENABLE_G39_H_MAPPING">
			<label for="H_MAPING_GRID_FACTOR" class="form-label">Grid factor (number of points is [grid
				factor]^ 2): <span ng-bind="H_MAPING_GRID_FACTOR"></span></label>
			<input type="range" class="form-range" min="2" max="6" id="H_MAPING_GRID_FACTOR"
				ng-model="H_MAPING_GRID_FACTOR">
		</div>
	</div>
</fieldset>