<fieldset>
	<legend>Enable extension options</legend>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_MAIN_LOOP_MODULES"
			ng-model="$parent.ENABLE_MAIN_LOOP_MODULES">
		<label class="form-check-label" for="ENABLE_SKEW_COMPENSATION">Enable main cnc application loop extension
			callbacks</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_IO_MODULES" ng-model="$parent.ENABLE_IO_MODULES">
		<label class="form-check-label" for="ENABLE_IO_MODULES">Enable IO extension callbacks</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_PARSER_MODULES" ng-model="$parent.ENABLE_PARSER_MODULES">
		<label class="form-check-label" for="ENABLE_PARSER_MODULES">Enable Gcode and Grbl commands parser extension
			callbacks</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_MOTION_CONTROL_MODULES"
			ng-model="$parent.ENABLE_MOTION_CONTROL_MODULES">
		<label class="form-check-label" for="ENABLE_MOTION_CONTROL_MODULES">Enable motion control extension
			callbacks</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_SETTINGS_MODULES" ng-model="$parent.ENABLE_SETTINGS_MODULES">
		<label class="form-check-label" for="ENABLE_SETTINGS_MODULES">Enable settings storage extension
			callbacks</label>
	</div>
	<div class="form-check form-switch">
		<input class="form-check-input" type="checkbox" id="ENABLE_RT_SYNC_MOTIONS" ng-model="$parent.ENABLE_RT_SYNC_MOTIONS">
		<label class="form-check-label" for="ENABLE_RT_SYNC_MOTIONS">Enable interpolation realtime extension
			callbacks</label>
	</div>
</fieldset>

Under
development