fieldset>div,
div.mb-3 {
	margin: 20px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input-range {
	display: flex;
}

header, main, footer {
	width: 100%;
	max-width: 1240px;
	margin: 20px;
}

.logo {
	max-width: 400px;
}

.logo-sm {
	max-width: 80px;
}

.center-content{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

fieldset {
	border-radius: 6px;
	border: 1px solid #ddd;
	padding: 20px;
	position: relative;
	margin: 20px 0;
}

fieldset>legend {
	position: absolute;
	top: -20px;
	left: 20px;
	background: #fff;
	width: fit-content;
}

div.tab-content {
	padding: 20px;
}