<fieldset>
	<legend>Pen Servo settings</legend>

	<div class="mb-3">
		<label for="" class="form-label">Define PEN_SERVO</label>
		<select class="form-select form-select-md" name="PEN_SERVO" id="PEN_SERVO" ng-model="PEN_SERVO" config-file="hal" ng-options="x.pin as x.pin for x in $parent.$parent.UCNCPINS | filter: {'type': 'servo'}">
		</select>
		<div class="alert alert-warning" role="alert"
			ng-show="!$parent.$parent.DEFINED_PINS.includes(PEN_SERVO)">
			{{PEN_SERVO}} pin is not defined for
			your board!
		</div>
	</div>
	<div class="mb-3">
		<label for="PEN_SERVO_LOW" class="form-label">Pen servo minimum position value: <span
			ng-bind="PEN_SERVO_LOW"></span> (8bit)</label>
	<input type="range" class="form-range" min="0" max="255" name="PEN_SERVO_LOW"
		id="PEN_SERVO_LOW" ng-model="PEN_SERVO_LOW"
		ng-init="PEN_SERVO_LOW=50" var-type="int" config-file="hal">
	</div>
	<div class="mb-3">
		<label for="PEN_SERVO_MID" class="form-label">Pen servo middle position value: <span
			ng-bind="PEN_SERVO_MID"></span> (8bit)</label>
	<input type="range" class="form-range" min="0" max="255" name="PEN_SERVO_MID"
		id="PEN_SERVO_MID" ng-model="PEN_SERVO_MID"
		ng-init="PEN_SERVO_MID=127" var-type="int" config-file="hal">
	</div>
	<div class="mb-3">
		<label for="PEN_SERVO_HIGH" class="form-label">Pen servo maximum value: <span
			ng-bind="PEN_SERVO_HIGH"></span> (8bit)</label>
	<input type="range" class="form-range" min="0" max="255" name="PEN_SERVO_HIGH"
		id="PEN_SERVO_HIGH" ng-model="PEN_SERVO_HIGH"
		ng-init="PEN_SERVO_HIGH=255" var-type="int" config-file="hal">
	</div>
</fieldset>