<fieldset ng-init="toolChanged({x}, {JSON_BUILD})">
	<legend>Spindle PWM settings</legend>

	<div class="mb-3">
		<label for="" class="form-label">Define SPINDLE_PWM</label>
		<select class="form-select form-select-md" name="SPINDLE_PWM" id="SPINDLE_PWM" ng-model="SPINDLE_PWM"
			config-file="hal" ng-options="x.pin as x.pin for x in $parent.$parent.UCNCPINS | filter: {'type': 'pwm'}">
		</select>
		<div class="alert alert-warning" role="alert"
			ng-show="!$parent.$parent.DEFINED_PINS.includes(SPINDLE_PWM)">
			{{SPINDLE_PWM}} pin is not defined for
			your board!
		</div>
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Define SPINDLE_PWM_DIR</label>
		<select class="form-select form-select-md" name="SPINDLE_PWM_DIR" id="SPINDLE_PWM_DIR"
			ng-model="SPINDLE_PWM_DIR" config-file="hal"
			ng-options="x.pin as x.pin for x in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}">
		</select>
		<div class="alert alert-warning" role="alert"
			ng-show="!$parent.$parent.DEFINED_PINS.includes(SPINDLE_PWM_DIR)">
			{{SPINDLE_PWM_DIR}} pin is not defined for
			your board!
		</div>
	</div>
	<div class="mb-3" ng-if="$parent.$parent.ENABLE_COOLANT">
		<label for="" class="form-label">Define SPINDLE_PWM_COOLANT_FLOOD</label>
		<select class="form-select form-select-md" name="SPINDLE_PWM_COOLANT_FLOOD" id="SPINDLE_PWM_COOLANT_FLOOD"
			ng-model="SPINDLE_PWM_COOLANT_FLOOD" config-file="hal"
			ng-options="x.pin as x.pin for x in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}">
		</select>
		<div class="alert alert-warning" role="alert"
			ng-show="!$parent.$parent.DEFINED_PINS.includes(SPINDLE_PWM_COOLANT_FLOOD)">
			{{SPINDLE_PWM_COOLANT_FLOOD}} pin is not defined for
			your board!
		</div>
	</div>
	<div class="mb-3" ng-if="$parent.$parent.ENABLE_COOLANT">
		<label for="" class="form-label">Define SPINDLE_PWM_COOLANT_MIST</label>
		<select class="form-select form-select-md" name="SPINDLE_PWM_COOLANT_MIST" id="SPINDLE_PWM_COOLANT_MIST"
			ng-model="SPINDLE_PWM_COOLANT_MIST" config-file="hal"
			ng-options="x.pin as x.pin for x in $parent.$parent.UCNCPINS | filter: {'type': 'generic_output'}">
		</select>
		<div class="alert alert-warning" role="alert"
			ng-show="!$parent.$parent.DEFINED_PINS.includes(SPINDLE_PWM_COOLANT_MIST)">
			{{SPINDLE_PWM_COOLANT_MIST}} pin is not defined for
			your board!
		</div>
	</div>

</fieldset>